{% extends "person/base_home.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/form.css" />

	<style type="text/css">

	
		span{
			display: block;
			float: left;
		}
		.user-links{
			margin:0 15px;
			
		
		}
		
		input[type="text"]{
			height:30px;	
			width:250px;
			margin-right:4px;
		}
	
		.page{
			width:30px;
			margin-left:10px;
			border: 1px solid lightblue;
			text-align:center;
		}
		
		.current-page{
			border: 1px solid rgb(206, 194, 194);
			text-align:center;
		}

		.messages{
			padding:10px;
			height:auto;
			width:auto;
			background-color:whiteSmoke;
			border-radius:4px;
			-webkit-border-radius:4px;
			border:1px solid rgba(0, 0, 0, 0.05);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);		
			margin:0px auto;		
		}

		body{
			background-color:#8EB4E3;	
		}

	</style>

{% endblock %}
{% block app-content %}
<div class="content">
	<div class="well container">
		<div id="addUser" class="form-horizontal">
			<legend>List Users</legend>
			{% if messages %}
				<div class="messages">
				{% for message in messages %}
					<div {% if message.tags %} class="control-group {{ message.tags }}"{% endif %}><p class="text-{{ message.tags }}">- {{ message }}<p></div>
				{% endfor %}
				</div>
			{% endif %}
			<br>
			<div>
				<label>Search by Name:</label>
				<input type="text" name="name" id="persons_all" placeholder="Enter Name" style="margin-top:7px;" />
				<button class="btn btn-primary name_search">Search</button>
			</div>
			<br>
			<div id="advanced_search" style="display:none;">
				<form method="get" enctype="multipart/form-data" action="" class="form-horizontal">
					<div class="ui-widget control-grou" style="float:left; margin-right:50px;">
						<label class="control-labe" for="city">City: </label>
						<div class="control">
							<input type="text" name="city" id="city" placeholder=""/>
						</div>
					</div> 
					<div class="ui-widget control-grou" style="float:left; margin-right:50px;">
						<label class="control-labe" style="float:left" for="state">State: </label>
						<div class="control">
							<input type="text" name="state" id="state" placeholder=""/>
						</div>
					</div> 
					<div class="ui-widget control-grou" style="">
						<label class="control-labe" for="country">Country: </label>
						<div class="control" style="float:left">
							<input type="text" name="country" id="country" placeholder=""/>
						</div>		
					</div> 
					<br>
					<br>
					<div class="ui-widget control-grou" style="float:left; margin-right:50px;">
						<label class="control-labe" for="branch">Branch: </label>
						<div class="control" style="float:left">
							<input class="control-labe" type="text" name="branch" id="branch" placeholder="" />
						</div>
					</div>
					<div class="ui-widget control-grou" style="float:left; margin-right:50px;">
						<label class="control-labe" for="degree">Degree: </label>
						<div class="control" style="float:left">	
							<input type="text" name="degree" id="degree" placeholder="" />
						</div>
					</div>
					<div class="ui-widget control-grou" style="">
						<label class="control-labe" for="graduation_year">Graduation Year: </label>
						<div class="control" style="float:left">	
							<input type="text" id="graduation_year" name="graduation_year" placeholder=""/>
						</div>
					</div>
					<br>
					<br>
					<div class="ui-widget control-grou" style="">
						<label class="control-labe" for="degree">Interests: </label>
						<div class="control" style="float:left">	
							<input type="text" name="interests" id="interests" placeholder="" />
						</div>
					</div> 
					<br>
					<br>

					<div>
						<input type="submit" value="Filter Results" class="btn btn-primary"  name="submit"/>
					</div>
				</form>
			</div>
			<div>
			      <button id="advanced_search_button" type="submit" class="btn btn-success" >Show Advance Search</button>
			</div>
			<br>    			
			{% if persons_page.object_list %}
				<table  width="800" id='subject-structure' border="0" style="margin-left:4px; margin-bottom:10px; font-size:15px;" cellpadding="0" cellspacing="0">
					<tr  class="bg-blue-color" style="text-align:center; height:35px; font-size:15px; background-color:rgb(92, 97, 121)" >
						<td style="height:35px; font-size:15px; width:150px;"> 
							Name
						</td>
						<td class="" style="height:35px; font-size:15px; width:350px;">
							Degree/Batch 
						</td>
						<td class="" style="height:35px; font-size:15px; width:120px;"> 
							Message
						</td>

						{% if user.is_superuser %}
							<td class="" style="height:35px; font-size:15px; width:120px;"> 
								Edit
							</td>
							<td class="" style="height:35px; font-size:15px; width:120px;"> 
								Delete
							</td>
							<td style="height:35px; font-size:15px; width:120px;">
								Flag/Unflag
							</td>
						{% endif %}
					</tr>
			
				{% for person in persons_page.object_list %}

					<tr  class="{% if forloop.counter|divisibleby:2 %}bg-graer-color{% else %}bg-white-color{% endif %}" style="text-align:center; font-size:15px;">
						<td style="height:35px; font-size:15px;"> 
							<a href="/person/viewProfile/?id={{ person.id }}">{{ person.name }}</a>
						</td>
						<td style="height:35px; font-size:15px;"> 
							{{ person.education.degree.name  }} ({{ person.education.graduation_year }}) in {{ person.education.branch.name }}
						</td>
						<td style="height:35px; font-size:15px;"> 
							{% if user != person.user %}<a href="/message/{{ person.user.username }}"><img style="height:20px;width:20px;" src="/static/images/message-image.png" alt="message" /></a>{% endif %}
						</td>

						{% if user.is_superuser %}
							<td style="height:35px; font-size:15px;"> 
								<a href="/person/editUser/?id={{ person.id }}"><img style="height:20px;width:20px;"  src="/static/images/edit-image.png" alt="edit" />Edit</a>
							</td>
							<td style="height:35px; font-size:15px;"> 
								<a href="/person/deleteUser/?id={{ person.id }}"><img style="height:20px;width:20px;"  src="/static/images/delete-image.png" alt="delete" />Delete</a>
							</td>
							
							{% if person.user.is_active %}
								<td style="height:35px; font-size:15px;"> 
									<a href="/person/flagUser/?id={{ person.id }}"><img style="height:20px;width:20px;"  src="/static/images/flag-image.png" alt="flag" />Flag</a>
								</td>
							{% else  %}
								<td style="height:35px; font-size:15px;"> 
									<a href="/person/unFlagUser/?id={{ person.id }}"><img style="height:20px;width:20px;"  src="/static/images/flag-image.png" alt="unflag" />Unflag</a>
								</td>
							{% endif %}
							

						{% endif %}
					</tr>
				{% endfor %}
				</table>
			{% endif %}
			<br>
		</div>
	</div>
</div>
{% endblock %}

{% block paginator %}
<div class="well container">
	<div style="margin:0 200px;">
		<span class="step-links">
			{% if pages_count %}
				{% for page in pages_range %}
					<span class="{% if persons_page.number == forloop.counter %}current-page {% endif %}page">
						<a class="" id="{{ forloop.counter }}" style="width:30px;" href="?page={{ forloop.counter }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"> {{ forloop.counter }} </a>
					</span>
				{% endfor %}
			{% endif %}			
		</span>
	</div>
</div>	

{% endblock %}

{% block script %}
	<script>
	$(document).ready(function(){		
		$(function() {
			$('.user-links a').click(function() {
					return confirm('Are you sure you want to perform this action?');
			});
	/** Search run on enter **/
		$("#persons_all").keypress(function(e) {
			if(e.keyCode == 13)
			{
				e.preventDefault();
				$('.name_search').click();	 
				$(this).autocomplete('close');
			}
		});
		$("#advanced_search_button").click(function(){
			if($("#advanced_search").css("display")=="none"){
				//$("#advanced_search").css("display","");
				$("#advanced_search").slideDown("slow");
				$("#advanced_search_button").html("Hide Advance Search");
			}
			else{
				//$("#advanced_search").css("display","none");
				$("#advanced_search").slideUp("slow");
				$("#advanced_search_button").html("Show Advance Search");		
			}
		});


		});
		$('.name_search').click(function(){
			var username=$('input[name=name]').val();
			window.location = "/person/listUsers/"+username;
		});

		$('.paginator-link').click(function(){
			var page = $(this).attr("id");
			var oldurl = document.URL;
			if(oldurl.indexOf("?page=") != -1){
				oldurl.slice(0,-1);
				var newurl = oldurl+page;
				alert(newurl);	
			}
			else if(oldurl.indexOf("&page=") != -1){
				oldurl.slice(0,-1);
				var newurl = oldurl+page;
				alert(newurl);
			}
			else if(oldurl.indexOf("listUsers/?") != -1){
				var newurl = document.URL + "&page="+page;
				alert(newurl);	
			}
			else{
				var newurl = document.URL + "?page="+page;
			}
			document.location.href = newurl;	
		});

	});
	</script>
<script>
  $(function() {
  {% if branches %}  
		branches = new Array();
		{% for branch in branches %}
			//alert("{{ branch.name }}");
			branches.push("{{ branch.name }}");
		{% endfor %}
	  $( "#branch" ).autocomplete({
      source: branches
    });

	{% endif %}
  {% if degrees %}  
		degrees = new Array();
		{% for degree in degrees %}
			degrees.push("{{ degree.name }}");
		{% endfor %}
		$( "#degree" ).autocomplete({
      source: degrees
    });
	{% endif %}
  {% if contacts %}  
		cities = new Array();
		states = new Array();
		countries = new Array();
		{% for contact in contacts %}
			cities.push("{{ contact.city }}")
			states.push("{{ contact.state }}")
			countries.push("{{ contact.country }}")
		{% endfor %}
		$( "#city" ).autocomplete({
      source: cities
    });
	  $( "#state" ).autocomplete({
      source: states
    });
	  $( "#country" ).autocomplete({
      source: countries
    });
	{% endif %}
	graduation_years = new Array();
	for (var i = new Date().getFullYear(); i > 1900; i--){
		graduation_years.push(i.toString());	
	}
	$( "#graduation_year" ).autocomplete({
		source: graduation_years
	});
	interests = new Array();
   {% if persons_all %}  
		persons_all = new Array();
		{% for person in persons_all %}
			persons_all.push("{{ person.name }}");
			temp_array = new Array();
			var str = "{{ person.interests.comments }}";
			temp_array = str.split(",");
			for(var i=0;i<temp_array.length;i++){
				interests.push(temp_array[i]);
			}
		{% endfor %}
		$( "#persons_all" ).autocomplete({
      source: persons_all
    });
	{% endif %}
 
	
	{% if interests %}  
		{% for interest in interests %}
			interests.push("{{ interest.category }}-{{ interest.name }}");
		{% endfor %}
		$( "#interests" ).autocomplete({
		      source: interests
		 });
	{% endif %}



	dynamic = new Array();
	{% for person in persons_page.object_list %}
		dynamic.push("{{person.user.username}}");
	{% endfor %}

	var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: dynamic
    });
  });
  
	</script>
 

{% endblock %}	
