{% extends "person/base_home.html" %}	

{% block css %}
	<link href="/static/css/jquery/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/jquery/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/jquery/jquery.fancybox.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/person/person_info.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
		
		* {
			margin: 0px;
			padding: 0px;
		}
		
		label{
		
		}

		.nav-tabs{
			font-size:25px;	
			font-color:black;
		}
		
		input[type="text"], input[type="password"] {
			height:30px;	
		}		
		
		.additional{
			display:block;
		}
		
		.the-legend {
			    border-width: 0;
			    font-size: 20px;
			    line-height: 20px;
			    margin-bottom: 0;
			width:150px;
			text-align:center;
			background-color:rgb(228,223,223);
			height:10px;
			padding:10px;
		}
		.the-fieldset {
  		width:750px;  
			border: 2px groove threedface #444;
    	-webkit-box-shadow:  0px 0px 0px 0px #000;
      box-shadow:  0px 0px 0px 0px #000;
		}
		
		.required {
			font-weight: bold;
		}
		
		
		.child_form{
			padding-left:3px;
			background-color:;
			border-radius:4px;
			-webkit-border-radius:4px;
			
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);		
			margin:0px auto;	
		}
		
		#spouse_form{
			padding-left:3px;
			background-color:;
			border-radius:4px;
			-webkit-border-radius:4px;
			
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);		
		}

		.content_form {
			height:auto;
			width:auto;
			padding:0px;
		}

		.form_tab{
			width:720px;
			height:auto;
			margin:0px auto;	
		}
		.messages{
			padding:10px;
			height:auto;
			width:600px;
			background-color:whiteSmoke;
			border-radius:4px;
			-webkit-border-radius:4px;
			border:1px solid rgba(0, 0, 0, 0.05);
			box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);		
			margin:0px auto;		
		}

		.messages-div{
			height:32px;	
		}

		body{	
			background-color:#8EB4E3;	
		}

		.tabs-list li a{
			margin:15px;
		}
		
		li.active, li.active a {
			background-color:none;
			border:none;
			color:black;
		}
		table {
	border-collapse: collapse;
	border-spacing: 0;
}

		.main_image{
			padding-bottom:20px;
		}

		
		

		
	</style>

{% endblock %}

{% block app-content %}

<div class="content_form">
	<div class="well container">
		<div id="addUser" class="form-horizontal" method="post" action="" enctype="multipart/form-data">
			<legend>Username: {{ person.user.username }}</legend>
			{% if messages %}
				<div class="messages">
				{% for message in messages %}
					<div{% if message.tags %} class="control-group {{ message.tags }}"{% endif %}><p class="text-{{ message.tags }}">- {{ message }}<p></div>
				{% endfor %}
				</div>
			{% endif %}
			<div class="main_image">
				<div class="settings"  style="position:absolute;float: right;margin-left: 820px;margin-top: -20px;padding-right: 0px;">Settings
				<div id="dropdown">
					<ul>
						<li><a href="/person/changePassword/">Change Password</a></li>
						<li><a href="/person/changeEmail/">Change e-mail</a></li>
						<li><a href="/person/profile/">Edit Profile</a></li>
					</ul>
				</div>
				</div>
				{% if user != person.user %}
				<div id="" class="settings" style="position:absolute;float: right;margin-left: 700px;color:#fff;margin-top: -20px;padding-right: 0px;"><div > <a href="/message/{{ person.user.username }}" style="color:#fff;text-decoration:none;">Message</a><br/></div>

				</div>
				{% endif %}
				 
				<div style=" margin-left:20px;margin-top:10px; width:100px; height:120px; float:left;">
				<img src="/media/profile/{% if person_image %}{{ person.user }}{% else %}default{% endif %}" alt="User image" style="height:100px;width:100px;" />
				<br>
				{% if user.is_superuser or person.user.username == user.username %}
				 <a href="#upload_form" class="fancybox" rel="group" style="color:#777;" title="Upload Picture">Change picture</a>
				
				<div id="upload_form" style="display:none;">	
					<form method="post" enctype="multipart/form-data" action="../upload/">
						{% csrf_token %}
							<input type="submit" name="submit" value="Extract Picture from Linkedin Profile"  class="btn btn-primary" />
					</form>
					OR CHOOSE FILE TO UPLOAD
					<br/>
					<form method="post" enctype="multipart/form-data" action="../upload/">
						{% csrf_token %}
							<input type="file" name="file" />
							<input type="submit" name="submit" value="Upload"  class="btn" />
					</form>
				</div>
				</div>
				{% endif %}
				<div style="margin-left:150px;margin-top:30px;">
					<h3>{{ person.name }} </h3>
					Graduated in {{ person.education.graduation_year }}, {{ person.education.degree.name }}, {{ person.education.branch.name }} <br/>
					Living in<span style="font-size:13px;color:#666;font-weight:bold;"> {{ person.contacts.city|default_if_none:'Roorkee, Uttarakhand, India' }}, {{ person.contacts.state|default_if_none:'' }}, {{ person.contacts.country|default_if_none:'' }}</span><br/>
					<table>
						
						<tr>
							<td class="profile3"colspan="2">Currently
							working <span>{% if person.career.job_title %}as <b>{{ person.career.job_title }}</b>{% endif %} </span><span>{% if person.career.current_company %}at <b>{{ person.career.current_company }}</b>{% endif %}</span> {% if person.career.job_functions and person.career.job_functions.count != 0 %} in the areas of  
		<span>{% for j in person.career.job_functions.all|slice:":3" %}
							{{ j.name }}{% if forloop.last %}{% else %},{% endif %}
						{% endfor %}</span>
	{% endif %}
							</td>
						</tr>

						


						{% if person.contacts.show_home_phone or person.contacts.show_work_phone or person.contacts.show_work_phone %}
	
								{% if person.contacts.show_home_phone and person.contacts.home_phone %}
								<tr>
									<td class="profile1"><span><u>Home</u></span></td>
									<td class="profile2"><span>{{ person.contacts.home_phone|default_if_none:'' }}</span></td>
								</tr>
								{% endif %}
								{% if person.contacts.show_work_phone and person.contacts.work_phone %}
								<tr>
									<td class="profile1"><span>Work</span></td>
									<td class="profile2"><span>{{ person.contacts.work_phone|default_if_none:'' }}</span></td>
								</tr>
								{% endif %}
								{% if person.contacts.show_mobile_phone and person.contacts.mobile_phone %}
								<tr>
									<td class="profile1"><span>Mobile:</span></td>
									<td class="profile2"><span>{{ person.contacts.mobile_phone|default_if_none:'' }}</span></td>
								</tr>
								<tr>
									<td class="profile1"><span>Year of Graduation</span></td>
									<td class="profile2"><span>{{ person.family.spouse.graduation_year|default_if_none:'' }}</span></td>
								</tr>
								{% endif %}
								
	
	{% endif %}	



						{% if person.contacts.alternate_address1 %}
					<tr>
										<td class="profile1"><span>Alternate Address 1</span></td>
										<td class="profile2"><span>{{ person.contacts.alternate_address1|default_if_none:'Roorkee, Uttarakhand, India' }}</span></td>
									</tr>
					{% endif %}
					{% if person.contacts.alternate_address2 %}

									<tr>
										<td class="profile1"><span>Alternate Address 2</span></td>
										<td class="profile2"><span>{{ person.contacts.alternate_address2|default_if_none:'Roorkee, Uttarakhand, India' }}</span></td>
					{% endif %}									</tr>
					{% if person.contacts.alternate_address3 %}

									<tr>
										<td class="profile1"><span>Alternate Address 3</span></td>
										<td class="profile2"><span>{{ person.contacts.alternate_address3|default_if_none:'Roorkee, Uttarakhand, India' }}</span></td>
									</tr>
					{% endif %}
					{% if person.interests.website %}
					<tr>
						<td class="profile1">Website</td>
						<td class="profile2"><span>{% if person.interests.website %}{{ person.interests.website }}{% endif %}</span></td>
					</tr>
					{% endif %}
					{% if person.interests.facebook_profile %}
					<tr>
						<td class="profile1">Facebook profile</td>
						<td class="profile2"><span>{% if person.interests.facebook_profile %}{{ person.interests.facebook_profile }} {% endif %}</span></td>
					</tr>
					{% endif %}
						{% if person.interests.poli and person.interests.poli.count != 0 %}
					<tr>
						<td class="profile1">Politics</td>
						<td class="profile2"><span>{% for l in person.interests.poli.all %} {{ l.name }}{% if forloop.last %}{% else %},{% endif %} {% endfor %}</span></td>
					</tr>
					{% endif %}





						{% if person.education.further_degrees %}
						<tr>
							<td class="profile1">Further Degrees</td>
							<td class="profile2"><span>{% if person.education.further_degrees %}{{ person.education.further_degrees }}{% endif %}</span></td>
						</tr>
						{% endif %}
						{% if person.career.industry_sectors and person.career.industry_sectors.count != 0 %}
					<tr>
							<td class="profile1">Industry Sector</td>
							<td class="profile2"><span>

						{% for j in person.career.industry_sectors.all|slice:":4"  %}
							{{ j.name }}{% if forloop.last %}{% else %},{% endif %}
						{% endfor %}</span></td>
					</tr>
					{% endif %}
					{% if person.career.career_progression %}
					<tr>
						<td class="profile1">Career progression</td>
						<td class="profile2"><span>{% if person.career.career_progression %}{{ person.career.career_progression }}{% endif %}</span></td>
					</tr>
					{% endif %}
					{% if person.career.positions_held %}
					<tr>
						<td class="profile1">Positions held</td>
						<td class="profile2"><span>{% if person.career.positions_held %}{{ person.career.positions_held }}{% endif %}</span></td>
					</tr>
					{% endif %}
					{% if person.interests.linkedin_profile %}
					<tr>
						<td class="profile1">Linkedin profile</td>
						<td class="profile2"><span>{% if person.interests.linkedin_profile %}{{ person.interests.linkedin_profile }}{% endif %}</span></td>
					</tr>
					{% endif %}
						{% if person.interests.hobbies and person.interests.hobbies.count != 0 %}
					<tr>
						<td class="profile1">Hobbies, Interests</td>
						<td class="profile2"><span>{% for h in person.interests.hobbies.all %} {{ h.category }}: {{ h.name }}, {% endfor %}</span></td>
					</tr>
					{% endif %}
					{% if person.interests.comments %}
					<tr>
						<td class="profile1">Other Interests</td>
						<td class="profile2"><span>{% if person.interests.comments %}{{ person.interests.comments }}{% endif %}</span></td>
					</tr>
					{% endif %}
						{% if person.interests.languages and person.interests.languages.all.count != 0 %}
					<tr>
						<td class="profile1">Languages Spoken:</td>
						<td class="profile2"><span>{% for l in person.interests.languages.all %} {{ l.name }}{% if forloop.last %}{% else %},{% endif %} {% endfor %}</span></td>
					</tr>
					{% endif %}

					
					<tr>
						<td class="profile1">Marital Status</td>
						<td class="profile2"><span>{% if person.family.marital_status %}Married {% else %} Not Married {% endif %}</span></td>
					</tr>

					<tr>
										<td class="profile1"><span>No. of Children</span></td>
										<td class="profile2"><span>{{person.family.children_number|default_if_none:'0'}}</span></td>
									</tr>



					{% if person.family.marital_status %}
																		
									<tr>
										<td class="profile1"><span><u>Spouse</u></span></td>
										<td class="profile2"><span>{{person.family.spouse.name|default_if_none:''}}</span></td>
									</tr>
									{% if person.family.spouse.nickname %}
									<tr>
										<td class="profile1"><span>Nickname</span></td>
										<td class="profile2"><span>{{person.family.spouse.nickname|default_if_none:''}}</span></td>
									</tr>
									{% endif %}
									{% if person.family.spouse.birthdate and person.family.spouse.show_birthdate  %}											
									<tr>
										<td class="profile1"><span>Birth-date</span></td>
										<td class="profile2"><span>{{person.family.spouse.birthdate|default_if_none:''}}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.graduation_year %}<tr>
										<td class="profile1"><span>Year of Graduation</span></td>
										<td class="profile2"><span>{{ person.family.spouse.graduation_year|default_if_none:'' }}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.branch %}<tr>
										<td class="profile1"><span>Branch</span></td>
										<td class="profile2"><span>{{ person.family.spouse.branch.name|default_if_none:'' }}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.degree %}
									<tr>
										<td class="profile1"><span>Degree</span></td>
										<td class="profile2"><span>{{ person.family.spouse.degree.name|default_if_none:'' }}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.further_degrees %}<tr>
										<td class="profile1"><span>Any Further Degrees</span></td>
										<td class="profile2"><span>{{person.family.spouse.further_degrees|default_if_none:''}}</span></td>
									</tr>{% endif %}
									<tr>
										<td class="profile1"><span>Roorkee Alumni</span></td>
										<td class="profile2"><span>{% if person.family.spouse.roorkee_alum %}Yes{% else %}No{% endif %}</span></td>
									</tr>
									{% if person.family.spouse.job_title %}<tr>
										<td class="profile1"><span>Current Job Title</span></td>
										<td class="profile2"><span>{{person.family.spouse.job_title|default_if_none:''}}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.current_company %}<tr>
										<td class="profile1"><span>Current Company</span></td>
										<td class="profile2"><span>{{person.family.spouse.current_company|default_if_none:''}}</span></td>
									</tr>{% endif %}
									
									{% endif %}





					
					</table>
					<!--<div id="more"><a href="#family" style="color: #FFF;text-decoration: none;" rel="leanModal"> See More</a></div>-->
				</div>
				
			</div>
    
		</div>
	</div>
</div>


<!--==============================================-

<div id="family">
	<div style="overflow:auto;height:500px;">
	<h4 style="text-align:center;">Contacts, Relavant Information</h4>
	<table style="width:470px;margin:20px auto;">
					{% if person.contacts.alternate_address1 %}
					<tr>
										<td class="profile1"><span>Alternate Address 1</span></td>
										<td class="profile2"><span>{{ person.contacts.alternate_address1|default_if_none:'Roorkee, Uttarakhand, India' }}</span></td>
									</tr>
					{% endif %}
					{% if person.contacts.alternate_address2 %}

									<tr>
										<td class="profile1"><span>Alternate Address 2</span></td>
										<td class="profile2"><span>{{ person.contacts.alternate_address2|default_if_none:'Roorkee, Uttarakhand, India' }}</span></td>
					{% endif %}									</tr>
					{% if person.contacts.alternate_address3 %}

									<tr>
										<td class="profile1"><span>Alternate Address 3</span></td>
										<td class="profile2"><span>{{ person.contacts.alternate_address3|default_if_none:'Roorkee, Uttarakhand, India' }}</span></td>
									</tr>
					{% endif %}
					{% if person.interests.website %}
					<tr>
						<td class="profile1">Website</td>
						<td class="profile2"><span>{% if person.interests.website %}{{ person.interests.website }}{% endif %}</span></td>
					</tr>
					{% endif %}
					{% if person.interests.facebook_profile %}
					<tr>
						<td class="profile1">Facebook profile</td>
						<td class="profile2"><span>{% if person.interests.facebook_profile %}{{ person.interests.facebook_profile }} {% endif %}</span></td>
					</tr>
					{% endif %}
						{% if person.interests.poli and person.interests.poli.count != 0 %}
					<tr>
						<td class="profile1">Politics</td>
						<td class="profile2"><span>{% for l in person.interests.poli.all %} {{ l.name }}{% if forloop.last %}{% else %},{% endif %} {% endfor %}</span></td>
					</tr>
					{% endif %}
	</table>

	
	{% if person.contacts.show_home_phone or person.contacts.show_work_phone or person.contacts.show_work_phone %}
	<table>
								{% if person.contacts.show_home_phone and person.contacts.home_phone %}
								<tr>
									<td class="profile1"><span><u>Home</u></span></td>
									<td class="profile2"><span>{{ person.contacts.home_phone|default_if_none:'' }}</span></td>
								</tr>
								{% endif %}
								{% if person.contacts.show_work_phone and person.contacts.work_phone %}
								<tr>
									<td class="profile1"><span>Work</span></td>
									<td class="profile2"><span>{{ person.contacts.work_phone|default_if_none:'' }}</span></td>
								</tr>
								{% endif %}
								{% if person.contacts.show_mobile_phone and person.contacts.mobile_phone %}
								<tr>
									<td class="profile1"><span>Mobile:</span></td>
									<td class="profile2"><span>{{ person.contacts.mobile_phone|default_if_none:'' }}</span></td>
								</tr>
								<tr>
									<td class="profile1"><span>Year of Graduation</span></td>
									<td class="profile2"><span>{{ person.family.spouse.graduation_year|default_if_none:'' }}</span></td>
								</tr>
								{% endif %}
								
	</table>
	{% endif %}	
						

	<h4 style="text-align:center;">Family</h4>
								<table style="width:470px;margin:20px auto;">
									<tr>
										<td class="profile1"><span>Marital Status</span></td>
										<td class="profile2"><span>{% if person.family.marital_status %}Married {% else %} Not Married {% endif %}</span></td>
									</tr>
									{% if person.family.marital_status %}
																		
									<tr>
										<td class="profile1"><span><u>Spouse</u></span></td>
										<td class="profile2"><span>{{person.family.spouse.name|default_if_none:''}}</span></td>
									</tr>
									{% if person.family.spouse.nickname %}
									<tr>
										<td class="profile1"><span>Nickname</span></td>
										<td class="profile2"><span>{{person.family.spouse.nickname|default_if_none:''}}</span></td>
									</tr>
									{% endif %}
									{% if person.family.spouse.birthdate and person.family.spouse.show_birthdate  %}											
									<tr>
										<td class="profile1"><span>Birth-date</span></td>
										<td class="profile2"><span>{{person.family.spouse.birthdate|default_if_none:''}}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.graduation_year %}<tr>
										<td class="profile1"><span>Year of Graduation</span></td>
										<td class="profile2"><span>{{ person.family.spouse.graduation_year|default_if_none:'' }}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.branch %}<tr>
										<td class="profile1"><span>Branch</span></td>
										<td class="profile2"><span>{{ person.family.spouse.branch.name|default_if_none:'' }}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.degree %}
									<tr>
										<td class="profile1"><span>Degree</span></td>
										<td class="profile2"><span>{{ person.family.spouse.degree.name|default_if_none:'' }}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.further_degrees %}<tr>
										<td class="profile1"><span>Any Further Degrees</span></td>
										<td class="profile2"><span>{{person.family.spouse.further_degrees|default_if_none:''}}</span></td>
									</tr>{% endif %}
									<tr>
										<td class="profile1"><span>Roorkee Alumni</span></td>
										<td class="profile2"><span>{% if person.family.spouse.roorkee_alum %}Yes{% else %}No{% endif %}</span></td>
									</tr>
									{% if person.family.spouse.job_title %}<tr>
										<td class="profile1"><span>Current Job Title</span></td>
										<td class="profile2"><span>{{person.family.spouse.job_title|default_if_none:''}}</span></td>
									</tr>{% endif %}
									{% if person.family.spouse.current_company %}<tr>
										<td class="profile1"><span>Current Company</span></td>
										<td class="profile2"><span>{{person.family.spouse.current_company|default_if_none:''}}</span></td>
									</tr>{% endif %}
									<tr>
										<td class="profile1"><span>No. of Children</span></td>
										<td class="profile2"><span>{{person.family.children_number|default_if_none:'0'}}</span></td>
									</tr>
									{% endif %}
							</table>
						</div>
							<div class="cancelbutton">Close</div>
</div>

==============================-->



<style type="text/css">
	table{
		margin-top:10px;
		
	}

	#dropdown ul{
		width:123px;
		padding:10px;
		position:absolute;
		list-style-type:none;
		padding:8px;
		margin-top:5px;
		background-color: #FFF;
		display:none;
		color:#aaa;
		margin-left:-10px;

	}

	.settings:hover #dropdown ul{
		display:block;
	}



	tr{
		line-height:30px;

	}
	.profile1{
		font-size:13px;
		color:#666;
		width:130px;
		font-weight:bold;
		vertical-align:top;
	}

	.profile2{
		padding-left:20px;
		font-size:14px;
		vertical-align: top;
	}

	.profile3{
		font-size:14px;
		vertical-align: top;
	}

	.profile2 , .profile3{
		font-size:13px;
	}

	.profile2 span , .profile3 span {
		color:#666;

	}

	#more{
	-webkit-appearance: none;
	-moz-appearance: none;
	height:18px;
	width:66px;
	font-family:'Myriad Pro';
	font-size: 16px;
	
	color:#fff;
	border:none;
	
	margin-left:100px;
	padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  text-shadow: 1px 1px 3px #666666;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#3f99fa), to(#0557fa));
  background: -moz-linear-gradient(top, #3f99fa, #0557fa);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3f99fa, endColorStr=#0557fa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3f99fa, endColorStr=#0557fa);
  display:inline-block; /* IE is so silly */
  cursor:pointer;
  line-height:20px;
  margin-top:30px;
  float:right;
  margin-right:30px;
  margin-bottom:30px;

	}

#more:hover{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4daff0), to(#406bc2));
  background: -moz-linear-gradient(top, #4daff0, #406bc2)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3f99fa, endColorstr=#0557fa);

	}

#family{
	display:none;
	height:600px;
	width: 550px;
	background-color:#f0f0f0;
	border:8px solid #393939;
	margin-top:-80px;
	font-family: 'Myriad Pro';
	
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

	legend{
		text-align:center;
		color:#aaa;
	}

.cancelbutton{
	height:40px;
	width:100px;
	background-color:#cacaca;
	
	float:right;
	font-family:'Myriad Pro';
	font-size: 22px;
	color:#fff;
	margin-right:28px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px #000000;
  -moz-box-shadow: 0px 1px 1px #000000;
  box-shadow: 0px 1px 1px #000000;
  text-shadow: 1px 1px 1px #666666;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b8b8b8), to(#858585));
  background: -moz-linear-gradient(top, #b8b8b8, #858585);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#b8b8b8, endColorStr=#858585);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#b8b8b8, endColorStr=#858585);
  display:inline-block; /* IE is so silly */
  margin-top:20px;
	}
	
.cancelbutton:hover{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#c2c2c2), to(#999999));
  background: -moz-linear-gradient(top, #c2c2c2, #999999)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b8b8b8, endColorstr=#858585);
	}

	.settings{
	-webkit-appearance: none;
	-moz-appearance: none;
	height:18px;
	width:66px;
	font-family:'Myriad Pro';
	font-size: 16px;
	
	color:#fff;
	border:none;
	
	margin-left:100px;
	padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#3f99fa), to(#0557fa));
  background: -moz-linear-gradient(top, #3f99fa, #0557fa);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3f99fa, endColorStr=#0557fa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#3f99fa, endColorStr=#0557fa);
  display:inline-block; /* IE is so silly */
  cursor:pointer;
  line-height:20px;
  margin-top:30px;
  float:right;
  margin-right:30px;
  margin-bottom:30px;

	}
</style>







	




























	<!--
		<div style="width:auto; height:auto; margin:0 auto;">
	<div class="tabbable tabs-left " style="float:left;">
				{% if messages %}
			<div class="div-messages">
				<div class="messages">
					{% for message in messages %}
						<div{% if message.tags %} class="control-group {{ message.tags }} messages-div"{% endif %}><p class="text-{{ message.tags }} messages-p">- {{ message }}<p></div>
					{% endfor %}
				</div>
			</div>
				<br/>
				{% endif %}  	
	-->			
		

{% endblock %}

{% block script %}
	<script type="text/javascript" src="/static/js/jquery/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/static/js/jquery/jquery-ui.js"></script>
	<script>
	</script>
	<script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>

	<script type="text/javascript">	
	$(document).ready(function(){
		
		
		/*** CHILD HTML ***/
		function childHTML(){		
			var child_html = '';
			child_html += '<br/><br/><div class="child_form  child_form'+child_count.toString()+'">CHILD'+child_count.toString()+'	<div>				<label for="child_name">Name: </label>					<input type="text" name="child_name'+child_count.toString()+'" id="child_name" value="{{ child.name|default_if_none:'' }}" />						    <span style="color:#b94a48;" class="help-inline"></span>	</div>';
			
			child_html += '<div>					<label for="child_nickname">Nickname: </label>					<input type="text" name="child_nickname'+child_count.toString()+'" id="child_nickname" value="{{ child.nickname|default_if_none:'' }}" />				</div>';								
			
			child_html += '<div>		<label for="child_datepicker">Birth date: </label>					<input type="text" name="child_birthdate'+child_count.toString()+'" id="child_datepicker'+child_count.toString()+'" />					    <span style="color:#b94a48;" class="help-inline"></span>				<span class="additional">						 &nbsp; Do you want to display this on your profile to others?					<input type="radio" checked name="show_child_birthdate'+child_count.toString()+'" value="yes" />Yes					<input type="radio" name="show_child_birthdate'+child_count.toString()+'" value="no" />No &nbsp; 				</span>		</div>';				
			
			child_html += '<div>					<label for="chlid_seeking_matrimony">Seeking Matrimony? </label>					<input type="radio" checked name="seeking_matrimony'+child_count.toString()+'" value="yes"/> Yes &nbsp; 					<input type="radio" name="seeking_matrimony'+child_count.toString()+'" value="no" checked/>No						<span class="additional">						 &nbsp; Do you want to display this on your profile to others?					<input type="radio" checked name="show_child_matrimony'+child_count.toString()+'" value="yes" />Yes					<input type="radio" name="show_child_matrimony'+child_count.toString()+'" value="no" />No &nbsp; 				</span>		</div><br/>';
			
			child_html += '<div>					<label for="child_yearpicker">Year Of Graduation: </label>					<select name="child_year_graduation'+child_count.toString()+'" class="child_yearpicker" id="child_yearpicker" value="{{ child.birthdate|default_if_none:'' }}" ></select>				</div>';
			
			child_html += '<div>					<label for="child_branch_picker">Branch: </label>					<select name="child_branch'+child_count.toString()+'" id="child_brach_picker" class="child_branch_picker"></select>				</div>';							
			
			child_html += '<div>					<label for="child_degree_picker">Degree: </label>					<select name="child_degree'+child_count.toString()+'" id="child_degree_picker" class="child_degree_picker"></select>					</div>';							
			
			child_html += '<div>					<label for="child_further_degrees">Any further degrees: </label>					<textarea name="child_further_degrees'+child_count.toString()+'" id="child_further_degrees">{{ child.further_degrees|default_if_none:'' }}</textarea>				</div>';								
			
			child_html += '<div>					<label for="child_roorkee_alum">Roorkee Alum </label>					<input type="radio" name="child_roorkee_alum'+child_count.toString()+'" value="Yes" {% if child.roorkee_alum %}checked{% endif %}  /> Yes &nbsp; 					<input type="radio" checked name="child_roorkee_alum'+child_count.toString()+'" value="No" {% if not child.roorkee_alum %}checked{% endif %}  />No					</div>';								
			
			child_html += '<div>					<label for="child_current_job">Current Job Title: </label>					<input type="text" name="child_current_job'+child_count.toString()+'" id="spouse_current_job" value="{{ child.job_title|default_if_none:'' }}" />				</div>';								
			
			child_html += '<div>						<label for="child_current_company">Current Company: </label>					<input type="text" name="child_current_company'+child_count.toString()+'" id="child_current_company" value="{{ child.current_company|default_if_none:'' }}" />				</div>				<br/>	</div></div> ';		
	
			return child_html;
		}

		/*** DEGREES ***/
		{% for degree in degrees %}
			$('#degree_picker').append($('<option />').val('{{degree.name}}').html('{{degree.name}}'));
			$('#spouse_degree_picker').append($('<option />').val('{{degree.name}}').html('{{degree.name}}'));
		{% endfor %}

		/*** BRANCHES ***/
		{% for branch in branches %}
			$('#branch_picker').append($('<option />').val('{{branch.code}}').html('{{branch.name}}'));
			$('#spouse_branch_picker').append($('<option />').val('{{branch.code}}').html('{{branch.name}}'));
		{% endfor %}
		
		/*** INDUSTRIES ***/
		{% for industry in industries %}
			$('#industry_sector').append('<span style="width:240px;height:24px;" class="span_industry"><input type="checkbox" value="{{industry.name}}" name="industries" {% for industry_sector in person.career.industry_sectors.all %}{% if industry_sector.name == industry.name %}checked{% endif %}{% endfor %}  />{{industry.name}} &nbsp; </span>');
		{% endfor %}
		
		/*** JOBS ***/
		{% for job in jobs %}
			$('#job_function').append('<span style="width:300;height:24px;" class="span_job"><input type="checkbox" value="{{job.name}}"  {% for job_function in person.career.job_functions.all %}{% if job_function.name == job.name %}checked{% endif %}{% endfor %}  name="jobs" />{{job.name}} &nbsp; </span>');
		{% endfor %}

		/*** POLI ***/
		{% for p in poli %}
			$('#poli').append('<span style="width:240;height:24px;" class="span_poli"><input type="checkbox" value="{{p.name}}"  {% for po in person.interests.poli.all %}{% if po.name == p.name %}checked{% endif %}{% endfor %} name="poli" />{{p.name}} &nbsp; </span>');
		{% endfor %}

		/*** LANGUAGES ***/
		{% for language in languages %}
			$('#languages_spoken').append('<span style="width:240;height:24px;" class="span_languages"><input type="checkbox" value="{{language.name}}"  {% for l in person.interests.languages.all %}{% if l.name == language.name %}checked{% endif %}{% endfor %} name="languages" />{{language.name}} &nbsp; </span>');
		{% endfor %}

		/*** HOBBIES ***/
		var cat=''
		{% for hobby in hobbies %}
			if(cat != '{{ hobby.category }}'){
				$('#hobbies_category').append($('<option />').val('{{ hobby.category }}').html('{{ hobby.category }}'));
			}
			


			$('#hobbies_name').append('<span id="{{hobby.category}}" style="width:240px;height:24px;{% if forloop.counter != 1 %}display:none;{% endif %} " class="span_hobby {{ hobby.category }}"><input type="checkbox" value="{{ hobby.name }}_{{ hobby.category }}" name="hobbies" {% for h in person.interests.hobbies.all %}{% if h.name == hobby.name and h.category == hobby.category %}checked{% endif %}{% endfor %} />{{hobby.name}} &nbsp; </span>');
			cat = '{{ hobby.category }}'; 
		{% endfor %}

		/*** Dynamic Change of Hobbies ***/
		$('#hobbies_category').change(function(){
			var category = $(this).val();
			$('.span_hobby').css("display","none");
			$.each($('.span_hobby'),function(){
				if($(this).attr("id") == category){
					$(this).css("display","block");
				}
			});	
		});

		
		/*** Alternate address addition ***/
		var alternate_count=0;
		$('#alternate_button').click(function(){
			if(alternate_count>=3){
				alert("You can't add more than 3 alternate address");
				return false;
			}
			alternate_count++;
			var temp = alternate_count + 1;
			$('.clearfix'+temp.toString()).css("display","block");
			/* $(function() {
				var addresspickerMap = $( ".addresspicker_map"+temp.toString() ).addresspicker({
					regionBias: "fr",
					elements: {
						map:"#map"+temp.toString(),
					}
				});

				$('#reverseGeocode'+temp.toString()).change(function(){ 
					$(".addresspicker_map"+temp.toString()).addresspicker("option", "reverseGeocode", ($(this).val() === 'true'));
				});
				var gmarker = addresspickerMap.addresspicker( "marker");
				gmarker.setVisible(true);
				addresspickerMap.addresspicker( "updatePosition");
			});*/
			return false;
		});
		
		
		/*** Child form addition/removal script ***/
		var child_count = 0;
		$("#child_remove").click(function(){
			if(child_count<=0){
				alert("No child is added.");
				return false;
			}
			$('.child_form'+child_count.toString()).remove();
			child_count--;
			$('#child_count').val(child_count.toString());
			return false;
		});

		$('#child_button').click(function(){
			if(child_count>=10){
				alert("You can't add any more child forms :D");
				return false;
			}
			child_count++; 
			$('#child_count').val(child_count.toString());
		
			$('#child_form').append(childHTML());

			/*** Child Form Datepickers ***/
			$('#child_datepicker'+child_count.toString()).datepicker({changeMonth: false, changeYear: true, yearRange: '1950:2100'})
			for (i = new Date().getFullYear(); i > 1900; i--){
				$('.child_yearpicker').append($('<option />').val(i).html(i));
			}
					
			{% for degree in degrees %}
				$('.child_degree_picker').append($('<option />').val('{{degree.name}}').html('{{degree.name}}'));
			{% endfor %}
			{% for branch in branches %}
				$('.child_branch_picker').append($('<option />').val('{{branch.code}}').html('{{branch.name}}'));
			{% endfor %}
			return false;
		});
		//Show spouse and children forms
		{% if person.family.marital_status %}
			$('#spouse_form').css("display","block");
			$('#spouse_branch_picker option:contains("{{ person.family.spouse.branch.name }}")').prop('selected',true);
			$('#spouse_degree_picker option:contains("{{ person.family.spouse.degree.name }}")').prop('selected',true);
			$('#spouse_yearpicker option:contains("{{ person.family.spouse.graduation_year }}")').prop('selected',true);	
			{% for child in person.family.children.all %}
	child_count++;				
				var child_html = '';
				child_html += '<br/><div class="child_form  child_form'+child_count.toString()+'">CHILD'+child_count.toString()+'	<div>	Name:			{{ child.name|default_if_none:'' }}</div>';
								child_html += '<br>';

				child_html += '<div>			Nickname: {{ child.nickname|default_if_none:'' }}"</div>';							
		
				child_html += '<br>';
				
				child_html += ' {% if child.show_birthdate %} <div>	Birth date: {{ child.birthdate|default_if_none:'' }}	</div> {% endif %}';				
					
				child_html += '<br>';
			
				child_html += '{% if child.show_matrimony %}<div>Seeking Matrimony: {{ child.seeking_matrimony }} </div> {% endif %}';
					child_html += '<br>';
			
				child_html += '<div>	Branch: {{ child.branch.name|default_if_none:'' }} </div>';								
						child_html += '<br>';
	
				child_html += '<div>	Degree: {{ child.degree.name|default_if_none:'' }} </div>';								
						child_html += '<br>';

				child_html += '<div>	Graduation Year: {{ child.graduation_year|default_if_none:'' }} </div>';								
							child_html += '<br>';
	
				child_html += '<div>	Any further degrees: {{ child.further_degrees|default_if_none:'' }} </div>';								
								child_html += '<br>';

				child_html += '<div>	Roorkee Alum: {{ child.roorkee_alum }} 		</div>';								
								child_html += '<br>';

				child_html += '<div>	Current Job Title:{{ child.job_title|default_if_none:'' }}			</div>';								
								child_html += '<br>';

				child_html += '<div>	Current Company: {{ child.current_company|default_if_none:'' }}</div> </div> </div>';		

				$("#child_form").append(child_html);
				$('#child_datepicker'+child_count.toString()).datepicker({changeMonth: false, changeYear: true, yearRange: '1950:2100'})
				for (i = new Date().getFullYear(); i > 1900; i--){
					$('.child_yearpicker').append($('<option />').val(i).html(i));
				}
						
				{% for degree in degrees %}
					$('.child_degree_picker').append($('<option />').val('{{degree.name}}').html('{{degree.name}}'));
				{% endfor %}
				{% for branch in branches %}
					$('.child_branch_picker').append($('<option />').val('{{branch.code}}').html('{{branch.name}}'));
				{% endfor %}
				
				
				$('select[name=child_branch'+child_count.toString()+'] option:contains("{{ child.branch.name }}")').prop('selected',true);
				$('select[name=child_degree'+child_count.toString()+'] option:contains("{{ child.branch.name }}")').prop('selected',true);
				$('select[name=child_year_graduation'+child_count.toString()+'] option:contains("{{ child.graduation_year }}")').prop('selected',true);
		{% endfor %}
			$('#child_count').val(child_count.toString());	
		{% endif %}
		

		/* MARITAL STATUS */
		/*** BRANCH, DEGREE AND YEAR PICKERS ***/
		$('#branch_picker option:contains("{{ person.education.branch.name }}")').prop('selected',true);
		$('#degree_picker option:contains("{{ person.education.degree.name }}")').prop('selected',true);
		$('#yearpicker option:contains("{{ person.education.graduation_year }}")').prop('selected',true);	

		/** GENDER VALUE **/
		$('.gender-button').click(function(){
			$('input[name=gender]').val($(this).attr('name'));	
		});
		$(".fancybox").fancybox();
		{% if person.family.marital_status %}
			$("#spouse_form").css("display","block");
		{% else %}
			$("#spouse_form").css("display","none");
		{% endif %}

	});
	</script>
	<script src="/static/js/jquery/jquery.fancybox.pack.js"></script>	
	<script src="/static/js/jquery/jquery.fancybox.js"></script>	
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="/static/js/jquery/jquery-address.js"></script>
	<script src="/static/js/jquery/jquery.leanModal.min.js"></script>
	<script>
$(function() {
    			$('a[rel*=leanModal]').leanModal({ closeButton: ".modal_close,.cancelbutton" });		
			});
</script>
{% endblock %}

